<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
</head>
<body>
Register a new user below.
<div>
  <b>Username: </b>
  <td><input mdbInput type="text" name="username" [(ngModel)]="username" required></td>
  <br>
  <b>Email: </b>
  <td><input mdbInput type="text" name="email" [(ngModel)]="email" required></td>
  <br>
  <b>First Name: </b>
  <td><input mdbInput type="text" name="firstName" [(ngModel)]="firstName" required></td>
  <br>
  <b>Last Name: </b>
  <td><input mdbInput type="text" name="lastName" [(ngModel)]="lastName" required></td>
  <br>
  <b>Password: </b>
  <td><input mdbInput type="text" name="password" [(ngModel)]="password" required></td>
  <br>
  <b>Confirm Password: </b>
  <td><input mdbInput type="text" name="passConf" [(ngModel)]="passConf" required></td>
  <br>
  {{errorMessage}}
  <br>
  <b>Is this an Admin User?</b>
  <input mbdInput type="checkbox" name="admin" [(ngModel)]="admin">
  <br>
  <br>
  <input *ngIf="validateUser()"
         class="submit" type="button" value="Add User" (click)="addUser()">

</div>
</body>
</html>
