<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<main role="main" class="container">
    <div class="starter-template">
        <a href='/'>Home</a> | <a href='/Product/Index'>Products</a><br/>

        <!-- Child view goes here. -->
        <%- body %>
    </div>
</main>
</body>
</html>
