<nav class="colour navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="shoppingCart">
    <app-header></app-header>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="shoppingCart">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='payment'>Checkout</a>
      </li>
      <li class="nav-item">
        <a *ngIf="message == 'Not logged in.'" class="nav-link" href="register">Sign up</a>
      </li>
      <li class="nav-item">
        <a *ngIf="message == 'Not logged in.'" class="nav-link" href="login">Log in</a>
      </li>
      <li class="nav-item">
        <a *ngIf="admin" class="nav-link" href="admin">Edit Products</a>
      </li>
      <li class="nav-item">
        <a *ngIf="message == 'The user has been logged in.'" class="nav-link" href="logout" (click)="logout()">Logout
          ({{username}})</a>
      </li>
    </ul>
  </div>
</nav>
<br>


<div class="container">
  <router-outlet></router-outlet>
</div>
<br>

