<!-- <app-nav></app-nav> -->
<!-- it works -->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <app-header></app-header>
  </h5>
=======

<app-nav></app-nav>
=======
<!-- <app-nav></app-nav> -->
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="shoppingCart"><app-header></app-header></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="shoppingCart">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='cart'>Cart</a>  
        </li>
        <!-- 'else' must be in separate section with curly brackets to work. -->
        <li class="nav-item">
        <a class="nav-link" href='payment'>Checkout</a>
      </li>
      <li class="nav-item">
        <a *ngIf="message == 'Not logged in.'" class="nav-link" href="register">Sign up</a>
      </li>
      <li class="nav-item">
        <a *ngIf="message == 'Not logged in.'" class="nav-link" href="login">Log in</a>
      </li>
      <li class="nav-item">
        <a *ngIf="message == 'The user has been logged in.'" class="nav-link" href="logout" (click)="logout()">Logout ({{username}})</a>
      </li>
      
        
          
           


      </ul>
    </div>
  </nav>
<!-- it works -->


<br><br>


<div class="container">
  <div class= col-md-4>
  <div *ngIf="message == 'Not logged in.'" class="alert alert-warning" >
    <strong>Sign Up</strong> for a better experience!!!
  </div>
</div>
  
  <!-- <div class="row">
    <div class="col">
      <app-shopping-cart></app-shopping-cart>
    </div>
  </div> -->
  <!-- <button class="btn btn-primary btn-lg btn-block" (click)="firstComponentFunction()"><a routerLink="/cart" routerLinkActive="active">Checkout</a>
  </button> -->
  <a routerLink="/shoppingCart" routerLinkActive="active"></a>
  <a routerLink="/cart" routerLinkActive="active"></a>
  <!-- <span *ngIf="message == 'Not logged in.'">  <a routerLink="/login" routerLinkActive="active">Login</a> </span> -->

  <!-- <span *ngIf="message == 'Not logged in.'"> -->
     <!-- | <a routerLink="/register" routerLinkActive="active">Register</a>  -->
    <!-- </span><br> -->

  <a routerLink="/payment" routerLinkActive="active"></a>
  <router-outlet></router-outlet>
  
  <!-- <div class="row">
    <div class="col">
      <app-payment></app-payment>
    </div>
  </div> -->
    <!-- <a routerLink="/payment" routerLinkActive="active"><button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button></a> -->

  
  <!-- <div class="row">
    <div class="col">
      <app-footer></app-footer>
    </div>
  </div> -->
</div>
