<div class="row">
  <!-- <div class="col-md-2">
    <app-filters></app-filters>
  </div> -->

  <div class="col-md-9">
    <app-product-list></app-product-list>
  </div>
  <!-- <button class="btn btn-primary btn-lg btn-block" (click)="firstComponentFunction()"><a routerLink="/payment" routerLinkActive="active">Checkout</a>
  </button>
  <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button> -->

  <div class="col">
    <app-cart></app-cart>
  </div>
<!--   <span *ngIf="admin"> | <a routerLink="/eventManager" routerLinkActive="active">Edit Products</a> </span> -->

  <div></div>

</div>
