<div *ngIf="cartItems.length === 0" class="alert alert-danger">Your Cart is Empty.</div>

<div *ngIf="cartItems.length > 0" class="card mb-4 shadow-sm">
  <div class="card-header"  style="background-color: black; color: white;" >
    <h4 class="card-title pricing-card-title text-danger">Your Cart</h4>
  </div>

  <div class="card-body">
    <div class="list-unstyled mt-3 mb-4" *ngFor="let item of cartItems">
      <app-cart-item [cartItem]="item" style="color: black;"></app-cart-item>
      <button type="button" class="btn btn-danger float-right" (click)="removeItem()">Remove</button>
    </div>
    <button type="button" class="btn btn-lg btn-block btn-danger"><strong>Total</strong> {{ cartTotal | currency:'USD' }}</button>
  </div>
</div>


<router-outlet></router-outlet>

